*, *:before, *:after {
  box-sizing: border-box;
}


body {
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  color: white;
  box-sizing: border-box;
  height: 70px
  font-family: sans-serif;
  background-color: #190B40;
  }

.nav_left, .nav_time, .nav_right {
  float: left;
  width: 33%;
  height: 50px;
}


.arrow_left, .stop {
  float: left;
  width: 33%;
}

.container {
    box-sizing: border-box;
    /* border: 0.5px solid #BCBBC1;  */
    border-left-color: transparent;
    border-right-color: transparent;
    width: 450px;
    margin: 0 auto;
  }

ul {
  clear: both;
  margin: 0;
}

ul li {
  list-style-type: none;
  box-sizing: border-box;
  float: left;
  display: block;
  padding: 10px;
  }


.bus_number, .bus_arrival {
  float: left;
  width: 10%;
  padding: 10px;
  }

.bus_info {
  float: left;
  width: 80%;
  padding: 10px;
  }

.map {
  width: 100%;
}

.next_arrivals {
    color: white;
    box-sizing: border-box;
    float: left;
    height: 40px;
    width: 80%;
    padding: 10px;
    background-color: #190B40;
}

.arrow_down {
    color: white;
    text-align: right;
    margin: 0 auto;
    height: 40px;
    width: 20%;
    padding: 10px;
    float: left;
    background-color: #190B40;
  }
